/**
 * @section Header Styles
 */

header {
  background-color: #333;
  padding: 0px 2px;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  position: relative;

  > div {
    box-sizing: border-box;
    position: absolute;
  }

  .money, .actions, .experience {
    top: 0;
  }

  .energy, .home, .level {
    bottom: 0;
  }

  .money, .energy {
    left: 2px;
  }

  .experience, .level {
    right: 2px;
  }

  .money {
    display: inline-block;
    width: calc(41% - 4px);
  }

  .money-text {
    font-size: 0.625rem;
    display: inline-block;
  }

  .actions {
    display: inline-block;
    width: calc(30% - 4px);
    text-align: center;
    left: 131px;
  }

  .actions-text {
    font-size: 0.625rem;
    display: inline-block;
  }

  .experience {
    display: inline-block;
    width: calc(100% - 4px);
    text-align: right;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #888;
  }

  .experience-text {
    display: block;
    font-size: 0.625rem;
  }

  .energy-text {
    font-size: 0.625rem;
    display: inline;
  }

  .energy {
    display: inline-block;
    width: 41%;
  }

  .home {
    display: inline-block;
    width: 30%;
    text-align: center;
    left: 131px;

    a {
      border: none;
    }

    #msg-badge {
      text-align: center;
      margin: 0 auto;
      position: absolute;
      bottom: 0px;
      left: 43px;
      width: 1.2em;
      background-color: #858585;
      border-radius: 50px;
      color: black;
      font-size: 0.625rem;
      font-family: sans-serif;
      line-height: 1.2em;
    }
  }

  .energy #energy-id, .money #money-id,
  .actions #actions-id {
    font-weight: bold;
    display: inline-block;
  }

  .energy #energy-time, .money #income-time,
  .actions #actions-time {
    display: block;
    font-size: 0.625rem;
  }

  .level {
    text-align: right;
    display: inline-block;
  }

  .level a {
    font-size: 0.8125rem;
  }

  .level-text {
    font-size: 0.6875rem;
  }
}
