$game: "cg";

$background-color: #1c130b;
$color: #f8fefb;

$a-link-color: #bf6f2f;

$welcome-color: #f8fefb;
$welcome-border-color: #bf6f2f;

$button-box-shadow-color: #693318;
$button-background-color: #421;
$button-background-from: $button-background-color 5%;
$button-background-to: #310 100%;
$button-border-color: $button-box-shadow-color;
$button-color: #f8fefc;
$button-text-shadow-color: $button-box-shadow-color;

$news-buttons-color: #0000;
$news-buttons-background-color: #0000;

$tagline-color: #a84;

$quest-link-color: #bf6f2f;
$quest-group-title-color: #bf6f2f;

$city-icon: "cg_lehi_large.png";
$elder-happy: "cg_lehi_large.png";

$speech-bubble-background-color: #421;
