$game: "stlouis";

$background-color: #001b00;
$color: #f8fefb;

$a-link-color: #1ca443;

$welcome-color: #f8fefb;
$welcome-border-color: #f8fefb;

$button-box-shadow-color: #4c1;
$button-background-color: #3b0;
$button-background-from: $button-background-color 5%;
$button-background-to: #2a0 100%;
$button-border-color: $button-box-shadow-color;
$button-color: #f8fefc;
$button-text-shadow-color: #528009;

$news-buttons-color: #3b0;
$news-buttons-background-color: #3b07;

$tagline-color: #687;

$quest-link-color: #3fd453;
$quest-group-title-color: #3fd453;

$city-icon: "stlouis_city_icon.jpg";
$elder-happy: "stlouis_wise_old_man_happy.png";

$speech-bubble-background-color: #107014;
