@import "components/header";

body {
  margin: auto;
  padding: 0;
  font: 0.75rem Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 320px;
  background-color: black;
}

h3, h4 {
  margin: 8px 0 0;
}

.title {
  font: 1rem Arial, Helvetica, sans-serif;
  clear: both;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.title.error {
  color: red;
}

.title.loot {
  padding-top: 12px;
  padding-bottom: 6px;
}

.subtitle {
  font: 0.9375rem Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 8px;
}

.subsubtitle {
  font: 0.8125rem Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 8px;
  margin-bottom: 8px;
}

.quest-group-completion {
  font: 0.625rem Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 4px;
  color: #ccc;
}

.header {
  background-color: #333;
  padding: 0px 2px;
}

.header .money {
  float: left;
  display: table-cell;
  width: 41%;
}

.header .money-text {
  font-size: 0.625rem;
  display: inline;
}

.header .actions {
  float: left;
  display: table-cell;
  width: 30%;
  text-align: center;
}

.header .actions-text {
  font-size: 0.625rem;
  display: inline;
}

.header .experience {
  text-align: right;
  border-bottom: 1px solid #333;
}

.header .experience-text {
  font-size: 0.625rem;
}

.header .energy-text {
  font-size: 0.625rem;
  display: inline;
}

.header .energy {
  float: left;
  display: table-cell;
  width: 41%;
}

.header .home {
  float: left;
  display: table-cell;
  width: 30%;
  text-align: center;
  margin-top: 4px;
}

.header .home a {
  border: none;
}

.header .energy #energy-id, .header .money #money-id,
.header .actions #actions-id {
  font-weight: bold;
  display: inline;
}

.header .energy #energy-time, .header .money #income-time,
.header .actions #actions-time {
/*  display: inline; */
  font-size: 0.625rem;
}

.header .level {
  text-align: right;
}

.header .level a {
  font-size: 0.8125rem;
}

.header .level-text {
  font-size: 0.6875rem;
}

.main-menu, .elders-menu.big {
  margin-top: 12px;
  font-size: 1.3125rem;
  text-align: center;
}

.main-menu, .elders-menu {
  margin-top: 12px;
  font-size: 1.0625rem;
  text-align: center;
}

p {
  margin: 0px 3px;
}

p.second {
  margin-top: 6px;
}

ul {
  margin-left: 0px;
  padding-left: 18px;
  clear: both;
}

li {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 5px;
  font-size: 0.6875rem;
}

.quests {
  margin: 12px 3px -4px;
  border: 1px solid white;
  padding: 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  min-height: 80px;
}

.quests .quest-icon {
  width: 97px;
  height: 62px;
  padding-right: 5px;
  border: 0px;
  float: left;
  display: table-cell;
}

.quests.wrong-hood .quest-icon {
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.quests .quest-complete {
  color: #26c;
  font-size: 0.625rem;
  text-align: center;
  margin-top: 3px;
}

.quests .quest-complete-percentage {
  position: absolute;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.quests .quest-complete-text {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.quests .quest-details {
  display: table-cell;
}

.quests .quest-name {
  font-size: 0.875rem;
  font-weight: bold;
}

.quests.wrong-hood .quest-name {
  color: #aaa;
}

.quests .quest-description {
  font-size: 0.6875rem;
}

.quests.wrong-hood .quest-description {
   margin-top: 6px;
   margin-bottom: 11px;
}

.quests .quest-experience {
  margin-top: 6px;
}

.quests .quest-experience, .quests .quest-money,
.quests .quest-required_energy, .quests .quest-loot,
.quests .quest-required_stuff {
  /* margin-left: 10px; */
  font-size: 0.6875rem;
}

.quests .quest-required_energy, .quests .quest-required_stuff {
  margin-top: 6px;
}

.quests .quest-required_equipment {
  vertical-align: middle;
  display: inline-block;
}

.quest-required_equipment img.not-yet {
  border: 2px solid #a41c43;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.quests .quest-loot {
  /* font-style: italic; */
  font-weight: bold;
}

.quests .quest-required_stuff.centered {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1rem;
}

.quests-soon {
  margin: 12px 3px 0px;
  border: 1px solid grey;
  padding: 3px 3px 3px 104px;
  background-image: url('/sites/default/files/images/quests/stlouis-soon.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.quests-soon .quest-name {
  font-size: 0.875rem;
  font-weight: bold;
  color: #888;
}

.quests-soon .quest-description {
  color: #888;
  margin-bottom: 6px;
  font-size: 0.6875rem;
}

.quests-soon .quest-experience, .quests-soon .quest-money,
.quests-soon .quest-required_energy, .quests-soon .quest-required_level {
  margin-left: 10px;
  font-size: 0.6875rem;
}

.quests-soon .quest-required_level {
  color: #a41c43;
  font-weight: bold;
}

.quest-succeeded, .election-succeeded, .land-succeeded {
  clear: both;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}

.quest-failed, .election-failed, .land-failed {
  clear: both;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}

.land {
  margin: 12px 3px -4px;
  border: 1px solid white;
  padding: 3px 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  clear: both;
  width: 306px;
}

.land .land-icon {
  /* width: 48px; */
  height: 48px;
  padding-right: 5px;
  border: 0px;
  float: left;
  display: table-cell;
}

.land .land-details {
  display: table-cell;
}

.land .land-name {
  font-size: 0.875rem;
  font-weight: bold;
}

.land .land-name .type {
  text-transform: capitalize;
}

.land .land-description {
  font-size: 0.6875rem;
}

.land .land-owned, .land .land-action, .land-soon .land-action {
  font-weight: bold;
  margin-top: 6px;
}

.land .land-action-cost, .land-soon .land-action-cost, .land-disbursements {
  margin-top: 6px;
}

.land .land-cost {
}

.quests .quest-payout,
.land .land-owned, .land .land-cost, .land .land-action-cost,
.land .land-payout {
  margin-left: 10px;
  font-size: 0.6875rem;
}

.land .land-button-wrapper {
  margin: 3px;
  text-align: right;
}

.land .land-perform-button-wrapper, .send-message-send-wrapper {
  margin: 3px;
  text-align: right;
}

.quests .quests-perform-button-wrapper {
  margin: 3px;
  text-align: right;
}

.land .land-buy-button, .land .land-sell-button {
  display: inline-block;
  margin: 8px 2px 4px 20px;
}

.land form .land-buy-button, .land form .land-sell-button {
  margin: 8px 2px 4px 8px;
}

.land .land-perform-button, .quests .quests-perform-button {
  display: inline-block;
  margin: 0px 2px 4px 20px;
}

.land .land-button-wrapper form {
  display: inline-block;
}

.send-message-send-wrapper .send-message-send {
  display: inline-block;
  margin: 8px 2px 0px 20px;
  color: #fff;
}

.land input.land-perform-button, .quests input.quests-perform-button,
.crafting-submit-button {
  color: #fff;
}

a.crafting-submit-button {
  text-decoration: none;
  color: white;
}

.crafting-submit-button-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.land .target {
  text-align: right;
  margin: 3px 3px 0 0;
}

.land .quantity {
  display: inline-block;
  margin: 5px -8px 0 0;
}

.land form .quantity {
  display: inline-block;
  margin: 5px -8px 0 16px;
}

.land-soon {
  margin: 12px 3px 0px;
  border: 1px solid grey;
  padding: 3px 3px 3px 104px;
  background-image: url('/sites/default/files/images/quests/stlouis-soon.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.land-soon .land-name {
  font-size: 0.875rem;
  font-weight: bold;
  color: #888;
}

.land-soon .land-description {
  color: #888;
  font-size: 0.6875rem;
  margin-bottom: 6px;
}

.land-soon .land-cost, .land-soon .land-payout,
.land-soon .land-required_level, .land-soon .land-action-cost {
  margin-left: 10px;
  font-size: 0.6875rem;
}

.land-soon .land-required_level {
  color: #a41c43;
  font-weight: bold;
}

.level-up {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 6px 3px 10px 3px;
  padding: 2px;
}

.level-up-header {
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.level-up-image {
  float: left;
  padding: 0px 10px 6px;
}

.level-up-text {
  text-align: center;
  padding: 3px;
}

.welcome {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 16px 3px 3px;
  padding: 4px;
  min-height:150px;
}

.welcome .ask-name {
  margin-top: 12px;
}

.welcome-continue, .election-continue {
  margin: 16px 3px 3px;
  padding: 4px;
  text-align: center;
}

.welcome-continue a, .election-continue a {
  border: 1px solid #1ca443;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: bold;
}

.choose-clan {
  margin-top: 12px;
  clear: both;
}

.choose-clan-icon {
  float: left;
  margin-left: 8px;
  margin-top: 2px;
}

.help {
  margin-top: 12px;
}

.help .subtitle {
  margin: 8px 0 4px;
  font-weight: bold;
}

.help p {
  margin-top: 2px;
}

.news {
  width: calc(100% - 2px);
  margin: 3px 1px 0;
  clear: both;
  text-align: center;
}

.news-buttons {
  text-align: center;
}

.news #all-text {
  text-align: left;
}

.news .title {
  border-bottom: 1px solid #d0dfd8;
  text-align: right;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: normal;
  font-size: 0.8125rem;
  clear: both;
}

.news .messages-title {
  border-bottom: 1px solid white;
  text-align: right;
  padding-top: 10px;
  margin-bottom: 2px;
  font-weight: normal;
  font-size: 0.8125rem;
  clear: both;
}

.news .subtitle {
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
  margin: 8px 0;
}

.news .dateline {
  font-style: italic;
  font-size: 0.625rem;
  color: #ccc;
  clear: both;
  text-align: left;
}

.news .message-body {
  margin: 3px;
  padding: 4px 24px 30px 4px;
  border: 1px solid #111;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #111;
  text-align: left;
}

.news .message-body.private {
  color: red;
}

.news .message-body.mayor {
  color: green;
}

.news .message-body.mayor.mayor-system {
}

.news .message-body.mayor.mayor-mayor {
}

.news .message-body.user {
color: #aab030;
}

.news .message-body.user.user-png {
}

.news .message-body.user.user-comp {
}

.news .message-body.challenge {
color: #9f7b36;
}

.news .message-body.party {
color: #aaa;
}

.news .message-body.values {
color: #5abafe;
}

.news p {
  margin: 8px;
}

.news .all {

}

.news .personal {

}

.news .elections {

}

.news .clan {

}

.news .system {

}

.news .button, .news button {
  display: inline-block;
/*   float: left; */
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 6px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.news.secondary .button, .news.secondary button {
  padding: 3px 5px;
  margin-right: 3px;
}

.news .button:last-child, .news button:last-child {
  margin-right: 0px;
}

.news a.button {
  color: #fff;
  text-decoration: none;
}

.news button {
  color: white;
}

.news .message-reply-wrapper {
  position: absolute;
  right: 4px;
}

.news .message-reply {
  display: inline-block;
  text-align: right;
  margin-right: 6px;
  margin-bottom: 5px;
  padding: 4px 7px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.news .message-reply a {
  color: #fff;
  text-decoration: none;
}

.news .message-delete {
  position: absolute;
  right: 8px;
}

.news-item {
  width: 100%;
}

.location + .news {
}

.user-profile .action {
  display: inline-block;
  text-align: right;
  margin-left: 12px;
  margin-bottom: 18px;
  padding: 4px 7px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.user-profile .action a {
  color: #fff;
  text-decoration: none;
}

.username-error {
  margin: 3px 0 6px;
}

.elections {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 8px 3px 3px;
  padding: 4px;
}

.elections .clan-title {
  width: 27%;
  float: left;
  margin-left: 9px;
}

.elections-header .clan-title {
  width: 34%;
  float: left;
}

.elections .election-details {
  clear: both;
  border-bottom: 1px solid #343;
  margin-bottom: 4px;
  min-height: 4.5em;
  position: relative;
}

.elections .election-details .opponent-name,
.elections-header .election-details .opponent-name {
  font-weight: bold;
  width: 36%;
  float: left;
  height: 31px;
}

.elections-header .election-details .opponent-influence {
  font-weight: bold;
}

.elections .election-details .approval-rating {
  clear: both;
  display: block;
  margin: 16px 0 0 38px;
  font-style: italic;
  max-width: 80px;
}

.elections-header {
  font-weight: bold;
  margin: 12px 0 0 36px;
  font-size: 0.8125rem;
}

.elections .me {
  font-style: italic;
  color: #ffd;
}

.elections .election-details .rank {
  position: absolute;
  left: 2px;
  top: 26px;
  font-size: 0.75rem;
}

.elections .election-details .clan-icon {
  display: inline-block;
  width: 36px;
  vertical-align: text-top;
}

.can-broadcast-to-party {
  display: inline;
  margin: 0 4px;
  vertical-align: top;
  color: #a41c43;
  font-weight: bold;
}

.elections .election-details .action-wrapper {
  height: 2em;
  margin: 3px;
}
.elections .election-details .action {
  float: right;
  margin: 0px 2px 4px 0;
}

.try-an-election-wrapper {
  /* text-align: center; */
}

.try-an-election {
  margin: 12px auto 16px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9375rem;
  padding: 6px;
  background-color: #888;
  border: 1px solid #888;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 15em;
}

.try-an-election a, a.try-an-election, input.try-an-election {
  text-decoration: none;
  color: #fff;
}

a.try-an-election, input.try-an-election {
  display: block;
}

.election-succeeded {
  margin-top: 12px;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}

.election-failed {
  margin-top: 12px;
  text-align: center;
  font-size: 1.375rem;
  font-weight: bold;
}
.user-profile {
  margin: 8px 3px 3px;
}

.user-profile .heading {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 100px;
  margin: 3px;
}

.user-profile .value {
  display: inline;
}

.user-profile .clan-icon {
  display: inline;
}

.message-title {
  padding-top: 12px;
  font-weight: bold;
  padding-left: 6px;
  clear: both;
}

.send-message {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 3px;
  padding: 4px;
}

.send-message .title {
  font-weight: bold;
  margin-top: 12px;
}

.send-message .message-textarea {
  width: 98%;
}

.send-message .send-message-send {
  text-align: right;
  clear: both;
}

.send-message .send-message-target {
  float: left;
  margin: 9px 3px 3px;
}

.send-message .block-user {
  float: left;
  margin: 9px 3px 3px 3px;
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.send-message .block-user a {
}

.action-effect {
  text-align: center;
  margin: 12px 0;
}

.ask-clan-name {
  text-align: center;
}

.ask-clan-name p {
  margin: 3px;
}

.ask-clan-name input {
  margin: 3px;
}

.debate-used {
  text-align: center;
  font-size: 0.875rem;
  padding: 8px 3px 3px;
  display: inline-block;
  position: relative;
}

.debate-used img {
  width: 72px;
}

.debate-used .debate-num {
  position: absolute;
  right: 9px;
  bottom: 5px;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

.debate-used-wrapper {
  text-align: center;
}

.purchase {
  margin-top: 16px;
  text-align: center;
}

.message-error {
  text-align: center;
  padding-top: 6px;
  color: #c23;
  font-weight: bold;
}

.message-error.big {
  padding-bottom: 6px;
  font-size: 1.125rem;
}

.clan-list {
  margin: 0 4px;
}

.ask-name {
  text-align: center;
}

.event {
  margin: 14px 0 6px 4px;
  text-align: center;
  color: #a55;
  a {
    display: block;
    padding: 4px 8px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #cc0;
    border-radius: 50px;
    margin: 10px auto 0;
    width: 160px;
    text-decoration: none;
  }
 .event-title {
   margin: 3px;
   font-size: 0.9375rem;
   font-family: Georgia, "times new roman", serif;
   font-weight: bold;
 }
}

.event-text {
  padding: 6px 12px 0;
  font-weight: bold;
}

.event-tagline {
  font-weight: bold;
  text-align: center;
  font-size: 0.875rem;
  font-family: georgia, times new roman, times, serif;
  &.small {
    padding-bottom: 4px;
    font-family: times new roman, times, serif;
  }
}

a .event-text {
  text-decoration: none;
  color: white;
}

.event-info {
  margin: 18px 12px;
}

.event-info .subsubtitle strong {
  color: #ddd;
}

.location {
  color: #888;
  font: 0.625rem Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 2px;
}

.version {
  font: 0.5rem Helvetica, Arial, sans-serif;
  display: block;
}

.new-main-menu {
  position: relative;
  padding-left: 5px;
}

.new-main-menu img {
  border-radius: 10px;
}

.competency-pip {
  border-right: solid 2px #888;
  border-radius: 2px;
  margin-right: 2px;
}

.competency-pip.attained {
  border-right: solid 2px #ddd;
}

.initial-caps {
  text-transform: capitalize;
}

.item-picklist select {
  margin-left: 24px;
  margin-top: 8px;
}

.map-image {
  position: relative;
}

.map-marker {
  position: absolute;
  z-index: 10;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 2px 2px 2px white, -2px -2px 2px white;
}

img.round4 {
  border-radius: 4px;
}

.highlight {
  color: #cc0;
}

#copyright {
  text-align: center;
  color: #aaa;
  margin: 72px 0 12px;
  font-size: 0.625rem;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.speech-bubble {
  position: relative;
  background-color: #107014;
  border: 1px solid #f8fefc;
  border-radius: 4px;
  box-shadow: 0 0 10px #c1c1c1;
  margin-left: 65px;
}

/* LEFT */
.speech-bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -30px;
  top: 40px;
  border: 10px solid transparent;
  border-right: 20px solid #f8fefc;
  z-index: 2;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -27px;
  top: 40px;
  border: 10px solid transparent;
  border-right: 20px solid #107014;
  z-index: 3;
}

/* based on https://codepen.io/stilllife00/pen/avXpgJ */
.colorize-blue {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(1000%) contrast(0.8);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-180deg) saturate(1000%) contrast(0.8);
}

.colorize-red {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(1000%) contrast(0.8);
}

.colorize-orange {
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(-25deg) saturate(1000%) contrast(0.7);
}

.colorize-yellow {
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(1000%) contrast(0.7);
}

.colorize-green {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

.colorize-grey, .colorize-gray {
  filter: grayscale(100%) brightness(110%) contrast(0.9);
}

.colorize-black {
  filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
}

a.button-continue {
  border: 1px solid #4d1;
  display: inline-block;
  font-family: Helvetica, Arial, "Verdana", "sans-serif";
  border-radius: 6px;
}

.button-wrapper {
  text-align: center;
}

.tagline {
  text-align: center;
  font-weight: bold;
}

a, a:link, a:visited, a:hover, a:active {
}

.welcome .subtitle {
}

.welcome p + .subtitle {
}

.welcome ul {
}

.main-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.elders-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
}

.menu-option a {
}

.menu-option.not-yet {
}

.quests, .land {
  text-align: left;
}

.quests .quest-required_stuff.missing {
}

.quests .quest-payout.negative,
.land .land-payout.negative, .land-soon .land-payout.negative {
}

.quests .quest-description, .land .land-description {
}

.quests .quest-description .not-yet, .land .land-description .not-yet {
}

.quest-required_stuff .quest-required_equipment img.not-yet {
  border: solid 0.5px #c00;
}

.quests .quest-required_stuff .quest-required_equipment img {
  border: solid 0.5px #0c0;
}

.quest-failed, .election-failed, .land-failed, .title.failed {
}

.quest-do-again, .land-buy-again {
  text-align: right;
}

.quest-do-again-inside, .land-buy-again-inside {
  border: 1px solid #1ca443;
  border-radius: 4px;
  float: right;
}

.quest-do-again a, .land-buy-again a {
}

.quests .quest-name.loot {
}

.quests .quest-name.not-yet {
}

.quests .quest-num, .quests .quest-requisites, .quests .quest-disbursements {
  display: none;
}

.land .land-owned {
}

.level-up.happy {
}

.choose-clan-name {
}

.choose-clan-name a {
}

.choose-clan-slogan {
}

.wise_old_man_large, .wise_old_man {
}

.wise_old_man_small, .wise_old_man.small {
}

.wise_old_man.sad {
}

.wise_old_man.happy {
}

.city-icon {
  border-radius: 8px;
}

.elections .election-details .action, .land .land-buy-button,
.land .land-sell-button, .land .land-perform-button,
.send-message-send-wrapper .send-message-send,
.quests .quests-perform-button, .crafting-submit-button {
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.elections .election-details .action.not-yet, .land .land-buy-button.not-yet,
.land .land-sell-button.not-yet {
  border: 1px solid #333833;
}

.elections .election-details .action a, .land .land-buy-button a,
.land .land-sell-button a, .land form input.land-buy-button {
}

.user-profile .event-status {
}

.highlighted {
}

.event-info .subtitle {
}

.event-info .subsubtitle {
}

a.version {
  text-align: center;
}

.new-main-menu .elections-menu {
  font-family: Georgia, "times new roman", serif;
}

.too-soon {
}

.competency-tag {
  border-radius: 4px;
  font-family: "times new roman", Roman, Serif;
}

textarea {
}

#drupalforfirebug_general {
  display: block !important;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.swiper-pagination .swiper-pagination-bullet {
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 56px;
  height: 12px;
}

.swiper-slide .title {
}

.swiper-slide .title.loot {
}

.swiper-slide .quest-images {
}

.swiper-slide.overview .quest-images {
  border-left: solid 1px rgba(224, 255, 240, 0.8);
  border-right: solid 1px rgba(224, 255, 240, 0.8);
}

.quest-group-name, .quest-group-title {
  display: block;
}

.quest-group-name a, .quest-group-title a {
}

.swiper-slide .title .quest-group-title {
}
.swiper-slide .title .quest-group-name {
  margin: auto;
  width: 248px;
}

.fit-box {
  white-space: nowrap;
  -webkit-transform-origin: top left;
}

.swiper-slide .title .quest-group-name.admin-obfuscate {
}

.swiper-slide .title .overview-only {
  display: none;
}

.swiper-slide.overview .title .overview-only {
  display: inline-block;
}

.swiper-slide.overview .title img.overview-only {
  display: inline-block;
  border: 0.5px solid #3c0;
  border-radius: 6px;
}

.wrong-hood-wrapper,  .not-yet-wrapper {
  position: relative;
}

div + .wrong-hood-wrapper {
  width: 77px;
  display: inline-block;
}

.quest-icon .wrong-hood-wrapper {
  width: 100px;
}

img.wrong-hood {
}

input.wrong-hood {
  text-align: left;
}

input + img.wrong-hood-overlay {
  bottom: 8px;
}

img.wrong-hood-overlay {
  position: absolute;
  bottom: 6px;
  right: 8px;
  width: 12px;
  height: 12px;
}

.not-yet-wrapper img.not-yet {
}

span.not-yet-overlay {
  position: absolute;
  bottom: 14px;
  right: 7px;
}

.quests span.not-yet-overlay {
  bottom: 21px;
  right: 21px;
}

.swiper-slide .description {
  display: none;
  border-left: solid 1px rgba(224, 255, 240, 0.8);
  border-right: solid 1px rgba(224, 255, 240, 0.8);
}

.swiper-slide.overview .description, .swiper-slide .description.show-expanded {
  display: flex;
}

.swiper-slide.overview .description.empty {
  border-left: none;
  border-right: none;
}

.swiper-slide.overview .quests {
  display: none;
}

.swiper-slide .quests {
  border: none;
  -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}

.swiper-slide .quests .quest-name a {
}

.swiper-slide .quests .quest-experience,
.swiper-slide .quests .quest-money,
.swiper-slide .quests .quest-required_energy,
.swiper-slide .quests .quest-required_stuff,
.swiper-slide .quests .quest-payout {
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
  top: 25px;
}

.swiper-container .swiper-button-prev, .swiper-container .swiper-container-rtl .swiper-button-next {
}

.swiper-container .swiper-button-next, .swiper-container .swiper-container-rtl .swiper-button-prev {
}

.system-message-response {
  text-align: center;
  border: solid 1px #f8fefc;
  border-radius: 3px;
}

div.description-speech-bubble-wrapper {
  text-align: left;
}

div.speech-bubble-wrapper {
  text-align: left;
}

div.description-speech-bubble-wrapper .wise_old_man {
}

div.speech-bubble-wrapper .wise_old_man {
}

.quests .quest-icon-baseline-overlay {
  border-radius: 4px;
}

.quests .quest-icon-overlay {
  border-radius: 4px;
}

.bonus-text {
  text-align: center;
}

.lesser-bonus-text {
  text-align: center;
}

div.lesser-bonus-text {
}
